    <header class="header_bg">
          <!-- banner part start  -->
          <div class="container py-5">
              <div class="row">
                  <div class="col-10 col-md-12">
                      <div class="row">
                          <div class="col-12 col-md-6 order-2 order-md-1">
                              <img class="img-fluid" src="./images/Group 33092.png" alt="Grouppng">
                          </div>
                          <div class="col-12 col-md-6 d-flex justify-content-center align-items-center order-1 order-md-2">
                               <div>
                                    <h1 class="fw-bold text-capitalize text-secondary"><span class="text-danger">nike react</span>
                                    <br>
                                    infinity run 2
                                    </h1>
                                    <p class="my-3"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima <br> ducimus quam assumenda quos iste. Molestias.</small></p>
                                    <a href="/login" class="btn btn-primary px-3 py-2"><i class="fas fa-shopping-cart"></i> Log In</a>
                               </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

    </header>