<!-- navbar secup -->
        <nav class="navbar navbar-expand-lg bg-navbar">
            <div class="container">
              <a class="navbar-brand w-25" href="/"><img class="img-fluid" src="./icons/Logo.png" alt="logopng"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex justify-content-start align-items-center">
                  <li class="nav-item">
                    <a class="nav-link text-capitalize text-dark " href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-capitalize text-dark" href="/product">Product</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-capitalize text-dark" href="/services">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-capitalize text-dark" href="/registration">Registration</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-capitalize text-dark" href="/login"><i class="fa-2x fas fa-user"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-capitalize text-dark" href="/logout"><i class="fa-2x fas fa-sign-out-alt"></i></a>
                  </li>
              </div>
            </div>
          </nav>