   <section>
            <div class="container my-5">
                <h1 class="fw-bold mb-5 text-capitalize">casual shoes</h1>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card rounded border-0 shadow p-2">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="./images/pngegg 1.png" class="card-img-top w-100 rounded card-bg pt-3 " alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title fw-bold">Nike Shoes</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between">
                          <h3 class="fw-bold text-danger">$240</h3>
                          <a href="#" class="btn btn-primary px-3 py-2"><i class="fas fa-shopping-cart"></i> Buy Now</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card  rounded border-0 shadow p-2">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="./images/Daco_1703273 1.png" class="card-img-top w-100 rounded card-bg" alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title fw-bold">Sneakers Skate Shoe </h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between">
                        <h3 class="fw-bold text-danger">$230</h3>
                        <a href="#" class="btn btn-primary px-3 py-2"><i class="fas fa-shopping-cart"></i> Buy Now</a>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card  rounded border-0 shadow p-2">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="./images/image 5.png" class="card-img-top w-100 rounded card-bg" alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title fw-bold">Sneakers Basketball shoe</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                      <div class="d-flex justify-content-between">
                        <h3 class="fw-bold text-danger">$244</h3>
                        <a href="#" class="btn btn-primary px-3 py-2"><i class="fas fa-shopping-cart"></i> Buy Now</a>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>

        <!-- formal shoes  -->

       <section class="my-5">
            <div class="container ">
                <h1 class="fw-bold mb-5 text-capitalize">formal shoes</h1>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                <div class="card rounded border-0 shadow p-2">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="./images/Mask Group.png" class="card-img-top w-100 rounded  " alt="...">
                    </div>
                    <div class="card-body">
                    <h5 class="card-title fw-bold">Prestige High-Cut Leather </h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between">
                        <h3 class="fw-bold text-danger">$240</h3>
                        <a href="#" class="btn btn-primary px-3 py-2"><i class="fas fa-shopping-cart"></i> Buy Now</a>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card  rounded border-0 shadow p-2">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="./images/Rectangle 38.png" class="card-img-top w-100 rounded" alt="...">
                    </div>
                    <div class="card-body">
                    <h5 class="card-title fw-bold">Slip-On Formal Shoe</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between">
                        <h3 class="fw-bold text-danger">$240</h3>
                        <a href="#" class="btn btn-primary px-3 py-2"><i class="fas fa-shopping-cart"></i> Buy Now</a>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col mb-5 mb-md-0">
                    <div class="card  rounded border-0 shadow p-2">
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="./images/Rectangle 39.png" class="card-img-top w-100 rounded" alt="...">
                        </div>
                        <div class="card-body">
                        <h5 class="card-title fw-bold">Slip-Off Formal Shoe</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                        <div class="d-flex justify-content-between">
                            <h3 class="fw-bold text-danger">$240</h3>
                            <a href="#" class="btn btn-primary px-3 py-2"><i class="fas fa-shopping-cart"></i> Buy Now</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
       </section>