        <section class="margin-Y">
            <div class="container ">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-10 col-md-12 ">
                        <div class="row ">
                            <div class="col-12 col-md-5 order-2 order-md-1">
                                <div class="row gy-3 p-0 p-md-1 ">
                                    <div class="col-12 shadow p-2 rounded">
                                        <div class="row">
                                            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
                                                <img src="./icons/image 12.png" class="w-50" alt="">
                                            </div>
                                            <div class="col-12 col-md-8 d-flex justify-content-center align-items-center align-items-md-start flex-column">
                                                <h4 class="fw-bold">Find the Perfect Fit</h4>
                                                <p><small>Lorem ipsum dolor, sit amet consec adipisicing elit. Reprehenderit, quis!</small></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 shadow p-2 rounded">
                                        <div class="row">
                                            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
                                                <img src="./icons/image 12.png" class="w-50" alt="">
                                            </div>
                                            <div class="col-12 col-md-8 d-flex justify-content-center align-items-center align-items-md-start flex-column">
                                                <h4 class="fw-bold">Find the Perfect Fit</h4>
                                                <p><small>Lorem ipsum dolor, sit amet consec adipisicing elit. Reprehenderit, quis!</small></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 shadow p-2 rounded">
                                        <div class="row">
                                            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
                                                <img src="./icons/image 12.png" class="w-50" alt="">
                                            </div>
                                            <div class="col-12 col-md-8 d-flex justify-content-center align-items-center align-items-md-start flex-column">
                                                <h4 class="fw-bold">Find the Perfect Fit</h4>
                                                <p><small>Lorem ipsum dolor, sit amet consec adipisicing elit. Reprehenderit, quis!</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-7 order-1 order-md-2 p-0 p-md-5 mb-5 mb-md-0">
                                <img src="./icons/XMLID 1.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>